<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <link th:href="@{/css/chatRoom.css}" rel="stylesheet" />
    <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function(){
    	var wsUrl = `ws://${location.host}/chat`;
        var socket = new WebSocket(wsUrl);
        var chatLog = document.getElementById('chat-log');

        socket.onopen = () => {
            console.log('Connected');
        };

        socket.onclose = () => {
            console.log('Disconnected');
        };

        socket.onerror = (error) => {
            console.error('WebSocket Error:', error);
        };

        socket.onmessage = (event) => {
        	console.log(event.data);
        	console.log(event);
            const message = JSON.parse(event.data);
            chatLog.innerHTML += '<li>' + message.user + ': ' + message.text + '</li>';
        };

        const sendMessage = () => {
            const messageInput = document.getElementById('message-input');
            const message = messageInput.value.trim();
            if (message !== '') {
                const username = "guest";
                const data = {
                    user: username,
                    text: message
                };
                socket.send(JSON.stringify(data));
                messageInput.value = '';
            }
        };

        document.getElementById('send-button').addEventListener('click', sendMessage);
        document.getElementById('message-input').addEventListener('keypress', (event) => {
            if (event.key === 'Enter') {
                sendMessage();
            }
        });    	
    });
    </script>
</head>
<body>
    <div style="width: 80%; margin: 0 auto;">
        <h1>Chat Room</h1>
        <ul id="chat-log"></ul>
        <div>
            <input id="message-input" type="text" placeholder="Type your message here..." style="width: 80%;">
            <button id="send-button" style="width: 19%;">Send</button>
        </div>
    </div>
</body>
</html>
